<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>net.obxlabs.Death.jlewis.Death</key>
	<array>
		<dict>
			<key>ScrollVerticalMargins</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>ScrollTextFiles</key>
			<array>
				<string>letter-3.txt</string>
				<string>letter-2.txt</string>
				<string>letter-1.txt</string>
			</array>
			<key>ScrollFonts</key>
			<array>
				<string>PragmataPro Update62</string>
				<string>PragmataPro Update62</string>
			</array>
			<key>ScrollColors</key>
			<array>
				<real>2600468480</real>
				<integer>3439329280</integer>
				<integer>4278190080</integer>
			</array>
			<key>ScrollFlickerSpeed</key>
			<real>0.0001</real>
			<key>ScrollFlickerTime</key>
			<real>0.08</real>
			<key>ScrollFlickerActivityMultiplier</key>
			<real>0.55</real>
			<key>ScrollFlickerLayers</key>
			<array>
				<false/>
				<true/>
				<true/>
			</array>
			<key>FunnelTextFile</key>
			<string>poem</string>
			<key>FunnelTextFiles</key>
			<array>
				<string>left.txt</string>
				<string>right.txt</string>
			</array>
			<key>FunnelFont</key>
			<string>Exo-Black36</string>
			<key>FunnelFontSize</key>
			<integer>36</integer>
			<key>FunnelColorRange</key>
			<array>
				<integer>4289740832</integer>
				<integer>4287635456</integer>
			</array>
			<key>FunnelSpeed</key>
			<integer>1</integer>
			<key>LightningCellHeight</key>
			<integer>20</integer>
			<key>LightningCellMargin</key>
			<integer>10</integer>
			<key>LightningRowsSpeed</key>
			<integer>1</integer>
			<key>LightningColumns</key>
			<integer>16</integer>
			<key>LightningHorizontalNoise</key>
			<real>0.33</real>
			<key>LightningHorizontalSpeed</key>
			<real>0.0025</real>
			<key>LightningVerticalNoise</key>
			<real>0.2</real>
			<key>LightningVerticalSpeed</key>
			<real>0.0001</real>
			<key>LightningTouchEffect</key>
			<real>0.2</real>
			<key>LightningMass</key>
			<real>0.8</real>
			<key>LightningMassSpeed</key>
			<real>2</real>
			<key>LightningColor</key>
			<integer>3690987520</integer>
			<key>SkyColor</key>
			<array>
				<real>0.875</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>GroundColor</key>
			<array>
				<real>0.4375</real>
				<real>0.1875</real>
				<real>0.125</real>
				<integer>1</integer>
			</array>
			<key>HorizonMargin</key>
			<integer>200</integer>
			<key>HorizonSpeed</key>
			<real>1e-05</real>
			<key>TouchActivityIncrement</key>
			<real>0.001</real>
			<key>TouchActivityDecrement</key>
			<real>0.001</real>
			<key>TouchActivityHoldTime</key>
			<integer>2000</integer>
			<key>TextColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>SmoothLevel</key>
			<integer>2</integer>
			<key>Author</key>
			<string>Jason Edward Lewis</string>
			<key>DefaultPoem</key>
			<true/>
			<key>Title</key>
			<string>The World That Surrounds You Wants Your Death</string>
			<key>TextVersion</key>
			<integer>1</integer>
			<key>Properties-iPad-Retina</key>
			<dict>
				<key>TextFile</key>
				<string>poem</string>
				<key>FontFile</key>
				<string>PragmataPro Update62</string>
				<key>FontFile2</key>
				<string>PragmataPro Update62</string>
				<key>FontTessellationFile</key>
				<string>PragmataPro Update62</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>3</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>6</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>350</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>250</integer>
				<key>BackgroundTextScale</key>
				<real>7.75</real>
				<key>MaximumDistancePadding</key>
				<integer>150</integer>
				<key>RenderPadding</key>
				<integer>20</integer>
				<key>TouchOffset</key>
				<integer>35</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>FunnelFontScaling</key>
				<integer>2</integer>
				<key>ScrollHorizontalMargins</key>
				<array>
					<integer>5</integer>
					<integer>10</integer>
					<integer>15</integer>
				</array>
				<key>ScrollSpeeds</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>4</integer>
				</array>
			</dict>
			<key>Properties-iPad</key>
			<dict>
				<key>TextFile</key>
				<string>poem</string>
				<key>FontFile</key>
				<string>PragmataPro Update62</string>
				<key>FontFile2</key>
				<string>PragmataPro Update62</string>
				<key>FontTessellationFile</key>
				<string>PragmataPro Update62</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>3</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>6</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>350</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>250</integer>
				<key>BackgroundTextScale</key>
				<real>7.75</real>
				<key>MaximumDistancePadding</key>
				<integer>150</integer>
				<key>RenderPadding</key>
				<integer>20</integer>
				<key>TouchOffset</key>
				<integer>35</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>FunnelFontScaling</key>
				<integer>2</integer>
				<key>ScrollHorizontalMargins</key>
				<array>
					<integer>5</integer>
					<integer>10</integer>
					<integer>15</integer>
				</array>
				<key>ScrollSpeeds</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>4</integer>
				</array>
			</dict>
			<key>Properties-iPhone-568h</key>
			<dict>
				<key>TextFile</key>
				<string>poem</string>
				<key>FontFile</key>
				<string>PragmataPro Update62</string>
				<key>FontTessellationFile</key>
				<string>PragmataPro Update62</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>3</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>195</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>20</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>FunnelFontScaling</key>
				<integer>1</integer>
				<key>ScrollHorizontalMargins</key>
				<array>
					<integer>5</integer>
					<integer>10</integer>
					<integer>15</integer>
				</array>
				<key>ScrollSpeeds</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
			<key>Properties-iPhone-Retina</key>
			<dict>
				<key>TextFile</key>
				<string>poem</string>
				<key>FontFile</key>
				<string>PragmataPro Update62</string>
				<key>FontTessellationFile</key>
				<string>PragmataPro Update62</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>3</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>165</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>20</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>FunnelFontScaling</key>
				<integer>1</integer>
				<key>ScrollHorizontalMargins</key>
				<array>
					<integer>5</integer>
					<integer>10</integer>
					<integer>15</integer>
				</array>
				<key>ScrollSpeeds</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
			<key>Properties-iPhone</key>
			<dict>
				<key>TextFile</key>
				<string>poem</string>
				<key>FontFile</key>
				<string>PragmataPro Update62</string>
				<key>FontTessellationFile</key>
				<string>PragmataPro Update62</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>1</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>165</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>20</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>FunnelFontScaling</key>
				<integer>1</integer>
				<key>ScrollHorizontalMargins</key>
				<array>
					<integer>5</integer>
					<integer>10</integer>
					<integer>15</integer>
				</array>
				<key>ScrollSpeeds</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
			<key>BackgroundColor</key>
			<array>
				<real>0.25</real>
				<real>0.376</real>
				<real>0.188</real>
				<integer>1</integer>
			</array>
			<key>WordFillColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>OutlinedWordFillColor</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>OutlinedWordOutlineColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
